.textContainer {
    width: 90%;
    font-size: 12px;
    font-weight: lighter;
    line-height: 2em;
    font-family: 'ICT', 'Open Sans', 'Verdana';
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.textContainer p { 
    margin-top: 2em;
}

@media only screen and (min-width: 770px) {
    
    .textContainer {
    margin-left: 9em;
    width: 70%; 
    padding-top: 1em;
}
}

@media only screen and (min-width: 880px) {
     
    .textContainer {
    margin-left: 9em;
    width: 60%;   
}
}

    
    
    
/* Contact Page */

.textContainerC {
    width: 90%;
    font-size: 12px;
    font-weight: lighter;
    line-height: 2em;
    font-family: 'ICT', 'Open Sans', 'Verdana';
    margin: 0 auto;
    padding-top: 2em;
    text-align: left;
}

.textContainerC p {
    margin-top: 1em;
}

@media only screen and (min-width: 770px) {

    .textContainerC {
    margin-left: 9.6em;
    width: 60%;
    line-height: 1em;
        text-align: left;
}
}




