.textContainer {
    margin-left: 9.6em;
    font-family: 'ICT', 'Verdana';
    width: 50%;
    font-size: 12px;
    font-weight: lighter;
    line-height: 2em;
}

.textContainer p {
    
    margin-top: 2em;
}

/* Contact Page */

.textContainerC {
    margin-left: 9.6em;
    font-family: 'ICT', 'Verdana';
    width: 60%;
    font-size: 12px;
    font-weight: lighter;
    line-height: 1em;
}

.textContainerC p {
    margin-top: 1.5em;
}
