.textContainer {
    width: 60%;
    font-size: 12px;
    font-weight: lighter;
    line-height: 2em;
}

.textContainer p {
    margin-top: 2em;
}

.textContainerC {
    width: 60%;
    font-size: 12px;
    font-weight: lighter;
    
}