.page {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    //padding-left: 2em;
    //padding-right: 2em;
    box-shadow: -2px 0 30px  0 #D3D3D3 , 2px 0 30px  0 #D3D3D3;
    overflow: hidden;
}
/*60px 0px 100px -90px #000000,
                 60px 0px 100px -90px #000000;
} */


.projectsSection {
    width: 100%;
    margin: 0 auto;
    @media only screen and (max-width: 400px) {
        width: 100%;
    }
}

.portfolioWrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.project {
    vertical-align: baseline;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    width: 100%;
}





@media only screen and (min-width: 888px) {

    .projectSection {
        width: 100%;
    }

    .project {
        vertical-align: baseline;
        display: inline-block;
        width: 30%;
        padding: 0 10px;
        padding-bottom: 1.5rem;
    }
}



@media only screen and (min-width: 1300px) {
.project {
    vertical-align: baseline;
    display: inline-block;
    width: 27%;
    padding: 0 30px;
    padding-bottom: 1.5rem;
}
}

@media only screen and (min-width: 1400px) {
.project {
    vertical-align: baseline;
    display: inline-block;
    width: 28%;
    padding: 0 30px;
    padding-bottom: 1.5rem;
}
}
