.headerWrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: -moz-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}



.titleHeader {
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    margin-bottom: 0.666em;
    display: inline-block;
    font-size: 2em;
    padding: 0.5em 0.2em 0 0.2em;
    text-align: left;
    }


.nav li {
    /* 5em */
    //margin-left: 5em;
    display: inline-block;
    vertical-align: top;

    text-align: center;
    width: 30%;
}

@media only screen and (min-width: 770px) {
    .headerWrapper {
    width: 100%;
    padding-top: 0.5em;
    }

    .titleHeader {
        text-align: left;
    }

    .navContainer {
    width: 100%;
    margin: 0 auto;
}

    .nav li {
        display: inline-block;
        padding: 0.5em 3em 0 3em;
        width: auto;
    }
}

@media only screen and (min-width: 880px) {
    .navContainer {
        width: 100%;
    }
}

.title {

    font-size: 0.7em;
    font: 'ICT';
    font-weight: lighter;
}



.titleHeader {
    line-height: 0.6em;
    display: inline-block;
}

.titleText {
    text-align: center;
    color: #d7d7d7;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 1.2em;
}

.titleAlt {
    font-size: 0.7em;
    font: 'ICTBold';
    font-weight: 900;
}


.navActive {
    font-weight: 700;
}



@media only screen and (min-width: 400px) {
    .nav li {
        //margin-left: 3em;
    }
}

@media only screen and(min-width: 890px) {
    .nav li {

    }




.nav {
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
}
}


.nav.hidden {
    transform: translateY(-4300px);
}
