

.titleHeader {
    font-weight: lighter;
    margin-bottom: 0.5em;
    display: inline-block;
    }


@media only screen and (min-width: 425px) {
 .titleHeader {
    font-size: 2em;
}   
}

.title {
    font: ICT;
    font-weight: lighter;  
}

.titleAlt {
    font: ICTBold;
    font-weight: bold;
}

.titleHeader {
    display: inline-block;
}

.titleText {
    text-align: center;
    color: #d7d7d7;
    font-weight: 200;
    margin-bottom: 1em;
    text-transform: capitalize;
    font-size: 1.2em;
}

.navContainer {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    margin-left: 16em;
}

.nav {
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
}

.navActive {
    font-weight: 700;
}

.nav li {
    display: inline-block;
    vertical-align: top;
    
    
}

.headerWrapper {
    padding-top: 2em;
    padding-left: 7em;
}