

.titleHeader {
    font-weight: lighter;
    margin-bottom: 1.2em;
    display: inline-block;
    }


@media only screen and (min-width: 425px) {
 .titleHeader {
    font-size: 2em;
}   
}

.title {

    font-size: 0.7em;
    font: 'ICT';
    font-weight: lighter; 
}

.titleAlt {
    font-size: 0.7em;
    font: 'ICTBold';
    font-weight: bold;
}

.titleHeader {
    line-height: 0.6em;
    display: inline-block;
}

.titleText {
    text-align: center;
    color: #d7d7d7;
    font-weight: 200;
    margin-bottom: 1em;
    text-transform: capitalize;
    font-size: 1.2em;
}

.navContainer {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    margin-left: 6em;
}


.nav {
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
}

.navActive {
    font-weight: 700;
}

.nav li {
    /* 5em */
    margin-left: 5em;
    display: inline-block;
    vertical-align: top;   
}

@media only screen and (min-width: 400px) {
    .nav li {
        margin-left: 3em;
    }
}

@media only screen and(min-width: 890px) {
    .nav li {
        margin-left: 5em;
    }
}


.headerWrapper {
    padding-top: 2em;
    padding-left: 7em;
}