.pImageC {
  width: 100%;
}


.image {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.image:hover {
    opacity: 0.6;
}


.pImageC {
  position: relative;
  height: 30%;
  width: 30%;
}

.pImageC div {
  height: 300px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pImageC .focused {

background-image: url(../images/imagesSmall/Focused.jpg);
}

.pImageC .fruit {

background-image: url(../images/imagesSmall/FruitWoolFrontCover.jpg);
}

.pImageC .fruit2 {

background-image: url(../images/imagesSmall/FruitWoolMapSpread.jpg);
}

.pImageC .maxis {

background-image: url(../images/imagesSmall/Maxis-Front-Cover.jpg);
}

.pImageC .maxis2 {

background-image: url(../images/imagesSmall/Maxis-Map-Spread.jpg);
}

.pImageC .merkaba {

background-image: url(../images/imagesSmall/Merkaba-Home.jpg);
}

.pImageC .merkaba2 {

background-image: url(../images/imagesSmall/Merkaba-Gallery.jpg);
}

.pImageC .nature {

background-image: url(../images/imagesSmall/Nature-2-Nurture-Home.jpg);
}

.pImageC .nature2 {

background-image: url(../images/imagesSmall/Nature-2-Nurture-About.jpg);
}

.pImageC .one {

background-image: url(../images/imagesSmall/One-Valpy-Cover.jpg);
}

.pImageC .one2 {

background-image: url(../images/imagesSmall/One-Valpy-plans-Spread.jpg);
}

.pImageC .thames {

background-image: url(../images/imagesSmall/Thames-Tower-Cover.jpg);
}

.pImageC .thames2 {

background-image: url(../images/imagesSmall/Thames-Tower-Spread.jpg);
}

.pImageC .hide {

background-image: url(../images/imagesSmall/The-Hideout-pop-up.jpg);
}

.pImageC .cider {

background-image: url(../images/imagesSmall/The-Rising-Sun-Happy-Poster.jpg);
}

.pImageC .walter {

background-image: url(../images/imagesSmall/Walter-House-Cover.jpg);
}

.pImageC .walter2 {

background-image: url(../images/imagesSmall/Walter-House-Spread.jpg);
}



.pImageC .pImage {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: center;
}

.pImageC .pImage .second {
  opacity: 0;
}
.pImageC .pImage .first {
  opacity: 1;
}


.pImageC .pImage:hover {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: center;
}

.pImageC:hover .second {
  opacity: 1;
  transition: all 0.3s ease;
}
.pImageC:hover .first {
  opacity: 0;
  transition: all 0.3s ease;
}
