.image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
    

.image:hover {
    opacity: 0.6;
}

.portImage img {
    cursor:url(/img/layout/backgrounds/zoom.cur), -moz-zoom-in;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}


