.portContainer {
    padding-top: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.imageContainer {
    text-align: center;
     -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}



.portImage {
    text-align: center;
    margin: 0 auto;
     height: auto;
    width: 90%;   
}

.capContainer {
    padding-bottom: 2em;
}

.portCap {
    font-family: 'ICT', 'Open Sans', "Verdana";
    font-size: 12px;
    text-align: center;
    width: 66.66%;
    margin: 0 auto;
}


.portImage img {}

.icon {
    margin: 0 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
