.portContainer {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.imageContainer {
    text-align: center;
}

.portImage {
    
    text-align: center;
    margin: 0 auto;
}

.capContainer {
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.portCap {
    font-family: 'ICT', "Verdana";
    font-size: 12px;
    text-align: center;
    width: 66.66%;
    margin: 0 auto;
}
    