.slideshow {
  width: 50%;
  height: 50%;
  margin: 1em auto 0;
}



.slick-arrow {
  display: none;
}

.copy {
  text-align: center;
  margin-top: 1em;
}

.copyContent {
  width: 50%;
  margin: 0 auto;
}

.controls {
  display: flex;
  opacity: 1;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    .slick-arrow {
      height: 30px;
      width: 30px;
      margin: 1em;
      &:hover {
        opacity: 0.8;
      }
    }
}

.page .slideshow .slick-list {
  overflow: visible;
}

div#preloader {
  position: fixed;
  left: 0;
   top: 0;
   z-index: 9999999990;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    background: white url('images/ajax-loader.gif') no-repeat center center;
  }
