
@import url(//fonts.googleapis.com/css?family=Open+Sans);

@font-face {
   font-family: 'ICT';
   src: url("../fonts/ITCAvantGardeStd-Bk.otf");
}


@font-face {
   font-family: 'ICTBold';
   src: url("../fonts/ITCAvantGardeStd-Bold.otf");
}

body, 
p,
h1,
h3,
ul,
li {
    font-family: 'ICT', 'Open Sans', 'Verdana';
}


.text {
    text-align: center;
}

a {
    text-decoration: none;
    color: $text_color;
    font-family: 'ICT', 'Open Sans' ,'Verdana';
}



/* Sliding Links Lines */

.sliding-a, 
.sliding-w,
.sliding-c,
.sliding-L {
    text-decoration: none;
    position: relative;  
}

.sliding-a:after, 
.sliding-w:after,
.sliding-c:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: 0.4s;
}

.sliding-L:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}


.sliding-a:hover:after, 
.sliding-w:hover:after,
.sliding-c:hover:after,
.sliding-L:hover:after {
width: 100%;
}


