/*
$linkedin: ".linkedin";
$email: ".email";
$twitter: ".twitter"; 
*/

@font-face {
   font-family: 'ICT';
   src: url(../../Fonts/ITCAvantGardeStd-Bk.otf);
}

@font-face {
   font-family: 'ICTBold';
   src: url(../../Fonts/ITCAvantGardeStd-Bold.otf);
}

body, 
p,
h1,
h3,
ul {
    font-family: 'ICT', 'Verdana';
}


.text {
    text-align: center;
}

a {
    text-decoration: none;
    color: $text_color;
    font-family: 'ICT', "Verdana";
}



/* Sliding Links Lines */

.sliding-a, 
.sliding-w,
.sliding-c {
     text-decoration: none;
    position: relative;  
}

.sliding-a:after, 
.sliding-w:after,
.sliding-c:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: 0.4s;
}

.sliding-a:hover:after, 
.sliding-w:hover:after,
.sliding-c:hover:after {
width: 100%;
}


