/*
$linkedin: ".linkedin";
$email: ".email";
$twitter: ".twitter"; 
*/

body, 
p,
h1,
h3,
ul {
    font-family: "Verdana";
}


.text {
    text-align: center;
}

a {
    text-decoration: none;
    color: $text_color;
    font-family: "Verdana";
}


@font-face {
   font-family: ICT;
   src: url(../../Fonts/ITCAvantGardeStd-Bk.otf);
}

@font-face {
   font-family: ICTBold;
   src: url(../../Fonts/ITCAvantGardeStd-Bold.otf);
}


.navActive {
    font-weight: 700;
}


/* Sliding Links Lines */

.sliding-a {
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid transparent;    
    //width: 20px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 20px;
}
 .sliding-a:hover {
            border-bottom: 3px solid #d7d7d7;
           // width: 50px;
        }



.sliding-w {
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid transparent;    
    //width: 20px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 20px;
}
        .sliding-w:hover {
            border-bottom: 3px solid #d7d7d7;
            //width: 40px;
}





.sliding-c {
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid transparent;    
    //width: 60px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 20px;
}
        .sliding-c:hover {
            border-bottom: 3px solid #d7d7d7;
            //width: 60px;

}

/*

NEED TO FIX IF STATMENE TTO DRY CODE

.sliding {
display: inline-block;
}
.sliding:after {
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}
.sliding:hover:after {
width: 100%;
      /* @if .email {
        width: 200px;
    }
    else if .linkedin {
        width: 400px;
    }
    else if .twitter {
        width: 600px;
    } 
background: #D3D3D3;
}
*/