
/* Footer */

.footerWrapper {
    background-color: white;
    height: 125px;
}

.footerNav {
    list-style-type: none;  
    float: right;
    margin-right: 1em;
}

.footerNav li {
    display: inline;
}