
.projectsSection {
    width: 90%;
    margin: 0 auto;
    
    @media only screen and (max-width: 400px) {
        width: 100%;
    }
}

.portfolioWrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.project {
    vertical-align: baseline;
    display: block;
    margin: 3em auto;
    width: 100%;
}



@media only screen and (min-width: 700px) {
.project {
    vertical-align: baseline;
    display: inline-block;
    width: 35%;
    padding: 0 30px;
    padding-bottom: 1.5rem;
}
}



@media only screen and (min-width: 1078px) {
.project {
    vertical-align: baseline;
    display: inline-block;
    width: 25%;
    padding: 0 30px;
    padding-bottom: 1.5rem;
}
}


    