
.projectsSection {
    margin: 0 auto;
}


.project {
    vertical-align: baseline;
    display: block;
    margin: 3em auto;
    width: 100%;
}






@media only screen and (min-width: 700px) {
.project {
    vertical-align: baseline;
    display: inline-block;
    width: 25%;
    padding: 0 30px;
    padding-bottom: 1.5rem;
}
}


    