.image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
    

.image:hover {
    -moz-box-shadow: 1px 1px 5px #999; 
    -webkit-box-shadow: 1px 1px 5px #999; 
    box-shadow: 1px 1px 5px #999;
}



